<div class="page-width">
  <div id="image-carousel">
    <div><img src="{{'slide-8.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-4.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-5.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-6.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-7.jpg' | asset_url}}"></div>
  </div>
  <div class="text-block bg-yellow hero-text-block">
    <p class="big text-center">The Coloral cycling bottle, faithful to the original design <br />from the golden age of cycling, has been upgraded and<br /> reengineered for premium quality, using <br />food&#8209;grade stainless steel that is brushed for a muted finish.<p>
      <!-- Begin MailChimp Signup Form -->
  </div>
  <section>
    <div class="flex-box bg-yellow index-flex" data-aos="fade-up">
       <div class="flex__item">
         <div class="img-wrapper">
           <img src="{{'img-1.jpg' | asset_url}}">
         </div>
       </div>
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">Its robust design is lightweight<br />and compact, and we’ve <br />tweaked the dimensions to fit<br />modern bottle cages.</p>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex reverse-order" data-aos="fade-up">
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">It’s been vacuum insulated to<br />keep cold drinks cool and your<br />hot drinks piping hot.</p>
          </div>
        </div>
        <div class="flex__item">
          <div class="img-wrapper">
            <img src="{{'img-2.jpg' | asset_url}}">
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex" data-aos="fade-up">
      <div class="flex__item">
        <div class="img-wrapper">
          <img src="{{'img-3.jpg' | asset_url}}">
        </div>
      </div>
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">And there’s no plastic used in<br />the flask or its packaging.</p>
          </div>
        </div>
    </div>
  </section>
  <section>
      <div class="bg-green text-center text-block cyclists-block">
        <a href="pages/our-story"><button class="big outline">Our Story</button></a>
        <p class="big">Find out more about the<br />Coloral Cycling Bottle</p>
        <div class="three-bikes-pos">
          <img data-aos="fade-left" src="{{'our-story-three-bikes.png' | asset_url}}">
        </div>
        <!--<div class="cyclist-1-pos">
          <img data-aos="fade-left" width="289" height="266" src="{{'cyclist-1.png' | asset_url}}">
        </div>
        <div class="cyclist-2-pos">
          <img data-aos="fade-left" width="637" height="350" src="{{'cyclist-2.png' | asset_url}}">
        </div>
        <div class="cyclist-3-pos">
          <img data-aos="fade-left" width="360" height="298" src="{{'cyclist-3.png' | asset_url}}">
        </div>-->
      </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex">
        <div class="flex__item">
          <div class="text-block text-center">
            <a href="/products/the-original-cycling-bottle"><button class="big outline">Buy a Bottle</button></a>
          </div>
        </div>
        <div class="flex__item four-image-grid">
          <div class="flex-box flex-inner">
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-1.jpg' | asset_url}}">
                </div>
              </div>
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-2.jpg' | asset_url}}">
                </div>
              </div>
            </div>
            <div class="flex-box flex-inner">
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-3.jpg' | asset_url}}">
                </div>
              </div>
              <div class="flex__item">
                <div class="last-img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-4.jpg' | asset_url}}">
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
</div>
<!--End mc_embed_signup-->
</div>
