<div class="page-width">
  <div id="image-carousel">
    <div><img src="{{'hero.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-1.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-2.jpg' | asset_url}}"></div>
    <div><img src="{{'slide-3.jpg' | asset_url}}"></div>
  </div>
  <div class="text-block bg-yellow">
    <p class="big text-center">Coloral, the original cycling bottle, is making a return to the bike in Summer&nbsp;2018.<br />
    Please add your details below and we will keep you informed of progress.<br />
    Thanks for your support.<p>
      <!-- Begin MailChimp Signup Form -->
  </div>
  <section>
    <div class="flex-box bg-yellow index-flex" data-aos="fade-left">
       <div class="flex__item">
         <div class="img-wrapper">
           <img src="{{'img-1.jpg' | asset_url}}">
         </div>
       </div>
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">Its robust design is lightweight and compact, and we’ve tweaked the dimensions to fit modern bottle cages.</p>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex" data-aos="fade-right">
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">It’s been vacuum insulated to keep cold drinks cool and your hot drinks piping hot.</p>
          </div>
        </div>
        <div class="flex__item">
          <div class="img-wrapper">
            <img src="{{'img-2.jpg' | asset_url}}">
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex" data-aos="fade-left">
      <div class="flex__item">
        <div class="img-wrapper">
          <img src="{{'img-3.jpg' | asset_url}}">
        </div>
      </div>
        <div class="flex__item">
          <div class="text-block">
            <p class="big text-center">And there’s no plastic used in the flask or its packaging.</p>
          </div>
        </div>
    </div>
  </section>
  <section>
      <div class="bg-green text-center text-block cyclists-block">
        <button class="big">Our Story</button>
        <p class="big">Find out more about the<br />Coloral Cycling Bottle</p>
        <div class="cyclist-1-pos">
          <img data-aos="fade-left" width="289" height="266" src="{{'cyclist-1.png' | asset_url}}">
        </div>
        <div class="cyclist-2-pos">
          <img data-aos="fade-left" width="637" height="350" src="{{'cyclist-2.png' | asset_url}}">
        </div>
        <div class="cyclist-3-pos">
          <img data-aos="fade-left" width="360" height="298" src="{{'cyclist-3.png' | asset_url}}">
        </div>
      </div>
  </section>
  <section>
    <div class="flex-box bg-yellow index-flex">
        <div class="flex__item">
          <div class="text-block text-center">
            <button class="big outline">Buy a Bottle</button>
          </div>
        </div>
        <div class="flex__item four-image-grid">
          <div class="flex-box index-flex">
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-1.jpg' | asset_url}}">
                </div>
              </div>
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-2.jpg' | asset_url}}">
                </div>
              </div>
            </div>
            <div class="flex-box index-flex">
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-3.jpg' | asset_url}}">
                </div>
              </div>
              <div class="flex__item">
                <div class="img-wrapper" data-aos="fade">
                  <img src="{{'buy-a-bottle-4.jpg' | asset_url}}">
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
</div>
<!--End mc_embed_signup-->
</div>
