<!--<h1>{{ page.title }}</h1>-->

<div class="temp-guide">

</div>
<div class="page-width our-story">
  <div id="pink-sky" class="img-block">
    <img src="{{ 'our-story-pink-sky.png' | asset_url }}">
  </div>
  <div class="text-block text-block-1" data-aos="fade-left">
    <p>Over a Century Old, Le Tour De France has gained notoriety for being the toughest, most gruelling road race in the world. In 1903, of the sixty cyclists that started its first race, only twenty finished.</p>
    <p>Covering a distance of 3,500km, cyclists travel through treacherous mountain passes of the rugged Pyrenees and snow-topped Alps, and end at the grand Champs-Élysées in Paris.</p>
  </div>
  <div id="mountains" class="img-block">
    <img src="{{ 'our-story-mountains.png' | asset_url }}">
  </div>
  <div id="landscape" class="img-block">
    <img src="{{ 'our-story-landscape.png' | asset_url }}">
  </div>
  <div class="text-block text-block-2" data-aos="fade-right">
  <p>In the golden age of the 40s and 50s, a time of legends and bitter rivals, a metal ‘bidon’ was the container that riders used to carry water.</p>
  <p>The most recognisable bidon was Coloral, a fluted alloy bottle with a cork stopper and tooled cap signed off with a scripted logo. Riders didn’t just reserve them for bottling water, but also to preserve a simple blend of milk and sugar that kept energy levels high during competitions, and even wine when celebrating victories.</p>
  <p>Despite its cult status, Coloral’s production dwindled and ceased completely in the mid-1950s due to manufacturing pressures.</p>
  </div>
  <div class="text-block text-block-3" data-aos="fade-left">
  <p>Driven by an enthusiasm for cycling and with a hope of reviving the bottle using modern day materials, we set out on a journey.</p>
  <p>We delved into the British Library Company’s archives to learn the history of Coloral, visited vintage bike festivals,  steel spinning factories and observed the traditional methods used in the original production line.</p>
  </div>
  <div id="cyclists" class="img-block">
    <img src="{{ 'our-story-cyclists.png' | asset_url }}">
  </div>
  <div id="cyclist-1" class="img-block">
    <img src="{{'cyclist-1.png' | asset_url}}">
  </div>
  <div id="cyclist-2" class="img-block">
    <img src="{{'cyclist-2.png' | asset_url}}">
  </div>
  <div id="cyclist-3" class="img-block">
    <img src="{{'cyclist-3.png' | asset_url}}">
  </div>
  <div id="bottle" class="img-block">
    <img src="{{ 'our-story-bottle.png' | asset_url }}">
  </div>
  <div id="grapes" class="img-block">
    <img src="{{ 'our-story-grapes.png' | asset_url }}">
  </div>
  <div id="milk" class="img-block">
    <img src="{{ 'our-story-milk.png' | asset_url }}">
  </div>
  <div id="blueprint" class="img-block">
    <img src="{{ 'our-story-blueprint.png' | asset_url }}">
  </div>
  <div id="mountains-foreground" class="img-block">
    <img src="{{ 'our-story-mountains-foreground.png' | asset_url }}">
  </div>
  <div id="ocean" class="img-block">
    <img src="{{ 'our-story-ocean.png' | asset_url }}">
  </div>
  <div id="ocean-copy" class="img-block">
    <img src="{{ 'our-story-ocean.png' | asset_url }}">
  </div>
  <div id="bottle-copy" class="img-block">
    <img src="{{ 'our-story-bottle.png' | asset_url }}">
  </div>
  <div id="triangles" class="img-block">
    <img src="{{ 'our-story-triangles.png' | asset_url }}">
  </div>
  <div id="ship" class="img-block">
    <img src="{{ 'our-story-ship.png' | asset_url }}">
  </div>
  <div id="bike" class="img-block">
    <img src="{{ 'our-story-bike.png' | asset_url }}">
  </div>
  <div id="ocean-foreground" class="img-block">
    <img src="{{ 'our-story-ocean-foreground.png' | asset_url }}">
  </div>
  <div id="one-percent" class="img-block">
    <img src="{{ 'our-story-one-percent.png' | asset_url }}">
  </div>
  <div class="text-block text-block-4" data-aos="fade-left">
  <p>Driven by an enthusiasm for cycling and with a hope of reviving the bottle using modern day materials, we set out on a journey.</p>
  <p>We delved into the British Library Company’s archives to learn the history of Coloral, visited vintage bike festivals,  steel spinning factories and observed the traditional methods used in the original production line.</p>
  </div>
  <div class="text-block text-block-5" data-aos="fade-right">
  <p>And we’ve teamed with Re-Cycle who repurpose 165 tonnes of discarded bikes each year. For every Coloral bottle sold, Re-Cycle send a bike to Africa, where they work with partners to teach local communities how to repair and maintain them.</p>
  <p>Sending these bikes ensures easier access to healthcare, education and clean, safe drinking water – an element that brings Coloral’s purpose full circle. </p>
  <p>Finally, we’re also committed to 1% for the planet, ensuring that profits go to what we really care about – protecting the earth. </p>
  <p>Please join us for the ride.</p>
  </div>
</div>
