<footer>
    {% if template != 'cart' %}
  <div class="supporting-strip">
    <div class="page-width flex-box">
      <div class="flex__item"><p class="big">Coloral supports <b>Re-Cycle</b> and <b>1% For The Planet</b></p></div>
      <div class="flex__item"><img src="{{'logo-re-cycle.png' | asset_url}}"></div>
      <div class="flex__item vertical-divider"></div>
      <div class="flex__item"><img src="{{'logo-fortheplanet.png' | asset_url}}"></div>
    </div>
  </div>

    <div class="page-width text-center">
      <h1 class="button big outline">Keep Informed</h1>
      <div id="form-wrapper">
      <form action="https://coloral.us18.list-manage.com/subscribe/post?u=008b4e9f8d09faf46d64deca8&amp;id=2d250db1cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
      <div class="grid display-input">
        <div class="grid__item medium-up--two-fifths">
          	<input type="text" placeholder="Name"  name="FNAME" class="" id="mce-FNAME">

        </div>
        <div class="grid__item medium-up--two-fifths">

          	<input type="email" placeholder="Email"  name="EMAIL" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_008b4e9f8d09faf46d64deca8_2d250db1cc" tabindex="-1" ></div>
          <div class="mc-status"></div>
        </div>
        <div class="grid__item small--one-half medium-up--one-fifth">
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        </div>
        <div class="grid display-success">
          <div class="grid__item medium-up--one-half">
            <div class="success-msg">
            Thank You
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>

    <section class="social text-center">
      <h1 class="button big outline">Follow Us</h1>
      <ul class="social-wrapper">
        <li><a href="https://www.facebook.com/coloral1947/">{% include 'icon-coloral-facebook' %}</a></li>
        <li><a href="https://www.instagram.com/coloral1947/?hl=en">{% include 'icon-coloral-instagram' %}</a></li>
        <li><a href="https://twitter.com/coloral1947">{% include 'icon-coloral-twitter' %}</a></li>
      </ul>
    </section>
      {% endif %}
    <section>
    <div class="page-width">
      <table class="responsive-table footer-nav">
        <tr>
          <td>
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul class="site-nav">
        {% for link in linklists[footer_linklist].links %}
          <li><a class="button outline" href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
            </td>
            <td class="text-right">Copyright &copy; {{ 'now' | date: "%Y" }} Coloral
            </td>
          </tr>
        </table>
    </div>
  </section>
  </div>
  <!--<div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</small>
  </div>-->
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
